<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- main server-->
        <add key="ConnectionString" value="server=(local);database=unimis_tis;user=sa;pwd=mxtssersqlver`2010;pooling=false;" />
        <add key="ConnectionString2" value="server=(local);database=accountant;user=sa;pwd=mxtssersqlver`2010;"/>
		<add key="FileSavePath1" value="upload"/>
	</appSettings>
	<system.web>
	<authentication mode="Forms">
      <forms loginUrl="Login.aspx" protection="All" path="/" timeout="30">
      </forms>
    </authentication>
 <authorization>
	<deny users ="?" />
	<allow users = "*" />
</authorization>
		<identity impersonate="true" />
		<sessionState mode="InProc" timeout="20" />
		<compilation debug="true"></compilation>
		<!--<globalization requestEncoding="windows-1251" responseEncoding="windows-1251" fileEncoding="windows-1251" culture="mn-MN" uiCulture="mn-MN" />-->
		<customErrors mode="RemoteOnly" defaultRedirect="error.htm"/> 
		
</system.web>	
</configuration>
