<?xml version="1.0" encoding="windows-1251"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="server=203.212.28.69;database=unimis_tis;user=sa;pwd=mxtssersqlver`2010;pooling=false;" />
    <add key="FileSavePath1" value="c:\inetpub\wwwroot\student\upload" />
  </appSettings>
  <system.web>
    <identity impersonate="true" />
    <customErrors mode="RemoteOnly" defaultRedirect="error.htm" />
    <compilation debug="true">
      <assemblies>
      </assemblies>
    </compilation>
    <globalization requestEncoding="windows-1251" responseEncoding="windows-1251" fileEncoding="windows-1251" culture="mn-MN" uiCulture="mn-MN" />
    <httpHandlers>      
    </httpHandlers>
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="Default.htm" />
                <remove value="Default.asp" />
                <remove value="index.htm" />
                <remove value="index.html" />
                <remove value="iisstart.htm" />
                <remove value="default.aspx" />
                <add value="login.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>